:root {
  --background: #323437;
  --secondary: #646669; 
  --secondaryHover: #d1d0c5;
  --popColor: #e2b714;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--secondary);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#mainWrapper {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-auto-flow: row;
  min-height: 100vh;
  gap: 2rem;
  align-items: center;
  z-index: 999;
  grid-template-rows: auto 1fr auto;
  width: 100%;
}

#top h1{
  color: var(--popColor);
  margin-top: -4px;
}
#top h2{
  margin-bottom: 0px;
  color: var(--secondaryHover);
  font-size: .5em;
}



#clockWrapper{
  display: flex;
  align-items: baseline;
}

.col {
  padding: 5px;
}
.timer{
  margin-left: 20px;
}
.timer button{
  background-color:var(--background);
  box-shadow: none;
  border: 1px solid var(--secondary);
  border-radius: .2em;
  padding: 4px 20px 4px 20px;
  color: var(--secondary);
  margin-right: 10px;
  transition: .2s;
}

.timer button:hover{
  border: 1px solid var(--secondaryHover);
  color: var(--secondaryHover);
}

.green{
  background-color: rgba(104, 155, 52, 0.098) !important;
}
.green:hover{
  background-color: rgba(104, 155, 52, 0.2) !important;
}

.red{
  background-color: rgba(141, 36, 47, 0.098) !important;
}
.red:hover{
  background-color: rgba(141, 36, 47, 0.2) !important;
}